name: create runner
on:
 workflow_dispatch
jobs:
 create-runner:
  runs-on: ubuntu-latest
  steps: 
  - name: Get code
    uses: actions/checkout@v6
  - name: install terraform
    uses: hashicorp/setup-terraform@v3
  - name: configure aws credentials
    uses: aws-actions/configure-aws-credentials@v5
    with:
     aws-region: us-east-1
     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  - name: Initialize terraform
    run: terraform init
  - name: terraform plan
    run: terraform plan
  - name: apply terraform
    run: terraform apply --auto-approve
  
